.couchdb-downloaded
.couchdb-installed
.erlang-downloaded
.erlang-installed
.js-downloaded
.js-installed
couchdbx-core--R13B01.tar.gz
couchdbx-core/
dist/
src/couchdb/
src/erlang/
src/js-1.7.0.tar.gz
src/js/
src/otp_src_R13B01.tar.gz
CouchDBX-0.9.0-R12B-5.app/
CouchDBX-0.9.0-R13B.app/
CouchDBX-0.9.0-R13B.zip
CouchDBX-0.9.1-R13B-copy.app/
CouchDBX-0.9.1-R13B-pl2.app/
CouchDBX-0.9.1-R13B-pl2.zip
CouchDBX-0.9.1-R13B.zip
couchdbx-core--R13B.tar.gz
couchdbx-core-0.9.1-R13B.tar.gz
couchdbx-core-trunk-R13A.tar.gz
couchdbx-core.zip
dist2/
src/otp_src_R13B.tar.gz
